body{
    position: relative;
}
.nameoneairaddmans{
    position: absolute;
    right:60px;
    top: 20px;
    /* display: none; */
}
table{
    border: 2px solid  black;
    width: 1000px;
    height: 420px;
    background-color: #fff;
}

tr{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
td{
    text-align: center;
    color: black;
}
.nameoneairaddmans .tdone button,.nameoneairaddmans .button1s{
    width: 60px;
    height: 30px;
    margin:0px 5px;
    margin-top:5px;
    background-color: #1890FF;
    border-radius: 6px;
    line-height: 30px;
    color:white;
}
.tdone{
    width: 40px;
}
 .Hiddenssairplans{
    height: 500px;
    width: 1100px;
    padding-left: 100px;
    padding-top: 50px;
    background-color: rgba(140,140,140,0.8);
    position: absolute;
    top: 0px;
    right:0px;
    display: none;
    
   
}
.neibu{
    width: 900px;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-top:30px;
    color: #819393;
    margin-top: 150px;
    position: relative;
}
.Hiddenssairplans input{
    height: 30px;
    margin-right: 20px;
    padding-left: 10px;
}
.submitss,.submits2{
        background-color: #1890FF;
        height: 30px;
        width: 80px;
        position: absolute;
        border: none;
        margin-top: 10px;
        outline: none;
}
.submitss{
    right:200px;
}
.submits2{
    right:100px;
}
.listts{
    color: seashell;
    position: absolute;
    right:420px;
    top:530px;
}
