
  body {
    margin: 0;
    height: 100%;
    background-image: url(http://www.joytraveller.com/Uploadfiles/Picture/2019-8-14/2019814154362021.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

 